{% extends 'company/base.html'%}
{% load staticfiles %}

{% block content %}

<div>

    <div class="alert alert-info">
        <strong>Work Types</strong>
    </div>

    <div class="form_company">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Work Type : </span>
                </div>
                {{ form.work_type }}
            </div>
            <center>--- OR Select from list ---</center>
            <br>
            <center><button class="btn btn-lg btn-primary" type="submit">Add</button></center>
        </form>
    </div>
    <hr>
    <center>
    <div class="table-responsive" style="width: 700px;">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Work Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% for obj in wt %}
            <tbody>
                <tr>
                    <td>{{obj.work_type}}</td>
                    <td>

                        <button type="button" class="btn btn-warning" onclick="window.location.href=''" class="btn btn-primary">Edit</button>

                        <button type="button" class="btn btn-danger" onclick="window.location.href='{% url 'company:worktype_delete' id=obj.id %}'" class="btn btn-primary">Delete</button>

                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    </center>
    {% endblock %}
