{% load staticfiles %}
<html>
<head>
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 <link rel="stylesheet" href="{% static 'css/payroll.css' %}">
</head>
    <!--
    <p>Hi there!</p>
    <p>It works!</p>
    <h1> {{ employees }} </h1>
    -->
        <div>
            <center><h1><a href="/">Payroll Management System Employees Data</a></h1></center>
        </div>

        {% for employee in employees %}
            <div>
                <hr>
                <center><p>Employee Name : <u>{{ employee.name }}</u></p>
                <p>Date of Birth : {{ employee.dob }}</p>
                <p>Address : {{ employee.address }}</p>
                <p>Contact : {{ employee.contact }}</p></center>
                <hr>
            </div>
        {% endfor %}
</html>

