{% extends 'payroll/base.html'%}
{% load staticfiles %}

{% block content %}

<div class="text-right">
    <button type="button" align="right" onclick="" class="btn btn-secondary">Update Salary Structure</button>
</div>
<div class="form_salary">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Employee : </span>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">From : </span>
            </div>
        </div>
        <div class="col">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">To : </span>
            </div>
        </div>
    </div>
    <br>
    <div class="alert alert-success" role="alert">
        Allowances :
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Basic Percentage : </span>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">HRA Percentage : </span>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Basic amount : </span>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">HRA amount : </span>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Conveyance Allowance : </span>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Special Allowance : </span>
                </div>

            </div>
        </div>
    </div>

    <div class="alert alert-danger" role="alert">
        Deductions :
    </div>

    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Professional Tax : </span>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">Income Tax : </span>
                </div>

            </div>
        </div>
    </div>

    <center><button class="btn btn-lg btn-primary" type="submit">Generate Salary Slip</button></center>

</div>
{% endblock %}
