{% extends 'payroll/base.html'%}
{% load staticfiles %}

{% block content %}
        
        <div class="form_salary">
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon1">Employee ID : </span>
		  </div>
		  <input type="text" class="form-control" placeholder="Enter Employee ID here" aria-label="" aria-describedby="basic-addon1">
		</div>

		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon2">Employee Name : </span>
		  </div>
		  <input type="text" class="form-control" placeholder="Will automatically available after entering ID" aria-label="" aria-describedby="basic-addon1">
		</div>

		<div class="input-group mb-3">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="basic-addon3">Salary Date : </span>
		  </div>
		  <input type="date" class="form-control" placeholder="" aria-describedby="basic-addon2">
		</div>

		<div class="alert alert-success" role="alert">
		  Allowances :
		</div>

 	        <div class="row">
                       <div class="col">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon2">Basic Percentage : </span>
			  </div>
			  <input type="text" class="form-control" placeholder="">
			</div>
                       </div>
                       <div class="col">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon2">HRA Percentage : </span>
			  </div>
			  <input type="text" class="form-control" placeholder="">
			</div>
                       </div>
	        </div>

 	        <div class="row">
                       <div class="col">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon2">Conveyance Allowance : </span>
			  </div>
			  <input type="text" class="form-control" placeholder="">
			</div>
                       </div>
                       <div class="col">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon2">Special Allowance : </span>
			  </div>
			  <input type="text" class="form-control" placeholder="">
			</div>
                       </div>
	        </div>

		<div class="alert alert-danger" role="alert">
			Deductions :
		</div>

 	        <div class="row">
                       <div class="col">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon2">Professional Tax : </span>
			  </div>
			  <input type="text" class="form-control" placeholder="">
			</div>
                       </div>
                       <div class="col">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon2">Income Tax : </span>
			  </div>
			  <input type="text" class="form-control" placeholder="">
			</div>
                       </div>
	        </div>
 
                <button class="btn btn-lg btn-primary btn-block" type="submit">Generate Salary Slip</button>

        </div>
{% endblock %}
